@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Quicksand&display=swap');
*{
  margin: 0px;
  padding: 0px;
  font-size: 10px;
  font-family: 'Quicksand', serif;;
  box-sizing: border-box;
}
.image{
  height: 110vh;
  width: 70vw;
  min-width: max-content;
}
.image-box{
  position: relative;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
.image-box::before {
  content: '';
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(255,255 , 255, 0.3));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home{
  position: absolute;
  top: 35%;
  left: 2%;
  color: white;
}
.home h1{
  font-size: 75px;
  width: 900px;
}
.home h2{
  font-size: 50px;
  width: 800px;
}
.home h3{
  font-size:20px;
}
.head{
  background-color: #084C61;
  height: 113vh;
  height: 100%;
  position: relative;
}
.header-page nav{
  display: flex;
  justify-content: space-around;
  height: 7vh;
  position: fixed;
  z-index: 1;
  width: 100vw;
  align-items: center;
  font-weight: 900;
  background-color: rgba(0, 0, 0,0.5);
}
nav h1{
  font-family: "Quicksand", system-ui;
  font-size: 35px;
  width: 550px;
  text-decoration: underline;
  color: #b17d51;
}
nav h4{
  font-family: "Quicksand", system-ui;
  font-size: 20px;
  color: #b17d51;
}

.about-page{
  height: 100vh;
  box-sizing: border-box;
  background-color: #D99479;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image1{
  height: 80vh;
  padding-left: 2vw;
}
.about-page .content{
  display: block;
  height: 400px;
  width: 100%;
  min-width: 85rem;
  padding-left: 5vw;
}
.content h1{
  font-size: 65px;
  font-family: "Quicksand", system-ui;
  text-decoration: underline;
}
.content h4{
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}
.services{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #B5B98A;
}
.img{
  width: 90vw;
  height: 45vh;
  display: flex;
  justify-content: center;
}
#dog{
  font-size: 250px;
}
.services .bx:hover{
  zoom: 1.3;
}
.title h1{
  font-size: 60px;
  font-family: "Quicksand", system-ui;
  text-decoration: overline underline;
}
.service-content{
  display: flex;
  width: 90vw;
  flex-direction: row;
  justify-content: space-between;
}

.shelter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 450px;
  min-width: 450px;
}
.shelter h1{
  font-size: 45px;
  text-decoration: underline dashed;
}
.shelter h3{
  font-size: 18px;
}

.copyright-box{
  background-color: #242328;
  color: grey;
  padding-inline: 50px;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  padding-bottom: 2%;
}
.copyright-box .title{
  font-size: 15px;
  width: auto;
  min-width: 1360px;
}
.contact{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.contact .me{
  width: auto;
  min-width: max-content;
  margin-right: 100px;
}
.me h4{
  font-size: 12px;
  padding-inline: 10px;
}
.me h3{
  font-size: 15px;
}
.invi h1{
  width: auto;
  min-width: max-content;
  font-size: 15px;
}
.customer-support{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  width: auto;
  min-width: max-content;
  
}
.customer-support h3{
  font-size: 15px;
}
.customer-support h4{
  font-size: 12px;
}
.icons{
  margin-top: 10px;
  display: flex;
  justify-content:center;
  align-items: center;
  height: 20px;
}
#apps{
  height: 100%;
  font-size: 25px;
  padding-inline: 25px;
}